@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Source+Sans+Pro:wght@400;700&display=swap');

:root{
  --light-background: #E5E7EA;
  --dark-blue-background: #051026;
  --secondary-dark-background: #222326;
  --aside-background: #404040;
  --font-color: #F2F2F2;
  --dark-color: #212429;
  --primary-font:font-family: 'Poppins', sans-serif;
  --secondary-font: 'Source Sans Pro', sans-serif;
  --primary-border-size: 2px;
  --primary-font-size: 16px;
  --icon-size: 25px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  background: var(--secondary-dark-background);
  color: var(--font-color);
}

/* Images size */
#menu-img, 
#house-user, 
#code, 
#github,
#kaggle,
#colab,
#angles-down{
  width: var(--icon-size);
}

#kaggle{
  width: 13px;
  margin-left: 5px;
}



/* Header Contents */
.header-container{
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 15px;
}

/* Main Container */
.main-container{
  margin: 15px;
  padding: 15px;
  /* min-height: 500px; */
}

/* 
main Section
 */
#main-section{
  /* overflow: hidden; */
}

/** 
  Aside Container
 */
.aside-container{
  float: left;
  position: relative;
  bottom: 1.8em;
  margin-right: 5px;
  width: 60px;
  border-right: 1px solid white; 
}

.nav-container{
  position: relative;
  margin: 5px;

} 

.aside-container > .nav-container > a{
  margin-left: 10px;
}

.link-icon{
  width: 35px;
  height: 35px;
  margin: 5px 5px 15px;
  margin-top: 15px;
  background: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 50%;
  position: relative;
}

.link-icon:hover{
  width: 40px;
  height: 40px;
}

.contents{
  margin: 50px;
  display: flex;
  height: 280px;
  position: relative;
  bottom: 1.8em;
}

.intro-contents{
  display: flex;
}

.intro-text{
  margin: 15px;
}
.intro-text > p{
  font-size: 22px;
  font-family: fantasy, sans-serif;
  position: relative;
  top: 3rem;
}

.angle-down-container{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
  position: relative;
  bottom: 1px;
}

#angles-down{
  position: relative;
  width: 15px;
  bottom: 5px;
  animation: animate-angle-down 0.5s 1s ease-in-out infinite;
}

@keyframes animate-angle-down{
  0%{
    position: relative;
    bottom: 5px;
  }

  50%{
    position: relative;
    bottom: 4px;
  }
  100%{
    position: relative;
    top: 2px;
  }
}