@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Source+Sans+Pro:wght@400;700&display=swap');

:root{
  --light-background: #E5E7EA;
  --dark-blue-background: #051026;
  --secondary-dark-background: #222326;
  --aside-background: #404040;
  --light-color: #F2F2F2;
  --dark-color: #212429;
  --primary-font:font-family: 'Poppins', sans-serif;
  --secondary-font: 'Source Sans Pro', sans-serif;
  --primary-border-size: 2px;
  --primary-font-size: 16px;
  --icon-size: 25px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  background: var(--secondary-dark-background);
  color: var(--light-color);
}

/* Images size */
#menu-img, 
#house-user, 
#code, 
#github,
#kaggle,
#colab,
#angles-down{
  width: var(--icon-size);
}

#kaggle{
  width: 13px;
}

/* Header Contents */
.header-container{
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 15px;
}

/* Main Container */
.main-container{
  margin: 15px;
  padding: 15px;
  min-height: 500px;
}

/* 
main Section
 */
#main-section{
  min-height: 460px;
}

/** 
  Aside Container
 */
.aside-container{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 45px;
  align-items: center;
}

/***
  Nav-container
*/
.nav-container{
  position: relative;
  margin: 5px auto;
}

.aside-container > .nav-container > a{
  margin-left: 10px;
}

.top-nav-line{
  width: 30%;
}

.bottom-nav-line{
  width: 60%;
}

.contents{
  margin-top: 50px;
  display: flex;
  height: 270px;
  margin-bottom: 50px;
}

.intro-contents{
  display: flex;
}

.intro-img{
  margin-right: 10%;
}

.intro-text{
  margin-top: 15px;
}

.angle-down-container{
  display: flex;
  justify-content: center;
  align-content: center;
}